body { 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
   color: rgb(164, 75, 247);
   text-decoration: none;

}

img{

    width: 160px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);


}

.center{
    text-align: center;
}

h1{
    color:rgb(164, 75, 247);
}

footer {
    background-color: #000000;
    padding: 200px 0;
    text-align: center;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.social-icons a i {
    margin-right: 7px;
    font-size: 24px;
}

.social-icons a:hover {
    color: rgb(164, 75, 247)
    ; /* Cor ao passar o mouse (pode personalizar) */
}

 section p1 {
color: yellow
 }