body { 
    color: #000000;
    background-color: white;
    font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
   color: rgb(0, 0, 0);
   text-decoration: none;

}

a:hover {
    color: rgb(0, 162, 255)
    ; /* Cor ao passar o mouse (pode personalizar) */
}

img{

    width: 160px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);


}

.center{
    text-align: center;
}

h1{
    color:black;
}

.texto-junto {
    line-height: 1.4;
    margin: 0;

}

footer {
    background-color: rgba(0, 0, 0, 0);
    padding: 200px 0;
    text-align: center;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.social-icons a i {
    margin-right: 7px;
    font-size: 24px;
}

.social-icons a:hover {
    color: rgb(0, 162, 255)
    ; /* Cor ao passar o mouse (pode personalizar) */
}

 section p1 {
color: rgb(255, 251, 0)
 }

 .btn-logout {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0); /* Preto */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-logout:hover {
    background-color: rgb(0, 162, 255); /* Azul claro */
    color: black;
}

.countainer{
    padding: 0 40px;
}